<footer>
  <article>
    <section>
      <div>
        <a href="./">
          <img src="<%= config.logoInverted %>" alt="<%= config.appName %>" class="logo">
        </a>
        <p>
          <%= config.shortDescription %>
        </p>
        <hr>
        <p>
          <strong><%= config.appName %></strong><br>
          c/o Tanja und Markus Tacker<br>
          Senefelderstr. 63<br>
          63069 Offenbach
        </p>
        <p>
          <a href="mailto:<%= config.email %>"><i class="fa fa-envelope"></i> <%= config.email %></a><br>
          <a href="tel:+491796678859"><i class="fa fa-mobile"></i> (01 79) 6 67 88 59</a>
        </p>
        <hr>
        <p>
          <% collections['footer-nav'].map(({slug, title}) => { %>
            <a href="./<%= slug %>.html"><%= title %></a><br>
          <%}) %>
        </p>
        <p> &copy; 2017 &middot; Alle Rechte vorbehalten. </p>
      </div>
      <div>
        <h2>Newsletter</h2>
        <p>Im <strong><%= config.appName %></strong> Newsletter erhältst Du regelmäßig aktuelle Links und Inspiration
          rund um die Arbeit in verteilten Teams.</p>
        <hr>
        <form class="form-inline" action="https://lets-work-remote.us15.list-manage.com/subscribe/post" method="post">
          <label class="sr-only" for="email">E-Mail</label>
          <input type="email" required="" class="form-control form-control-sm" id="email" placeholder="z.B. &quot;ich@email.de&quot;"
                 name="MERGE0">
          <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-send"></i> <span>Absenden</span></button>
          <input type="hidden" name="u" value="a9406673e1d1627dfb95c6a95">
          <input type="hidden" name="id" value="eb1f192c7e">
        </form>
      </div>
      <div>
        <h2>Bleib in Kontakt</h2>
        <p>Auch in den sozialen Medien findest Du uns:</p>
        <hr>
        <p>
          <a href="https://twitter.com/<%= config.twitter %>" target="_blank" title="<%= config.appName %> bei Twitter">
            <i class="fa fa-twitter"></i>
            Twitter
          </a><br>
          <a href="https://facebook.com/letsworkremote" target="_blank" title="<%= config.appName %> bei Facebook">
            <i class="fa fa-facebook"></i>
            Facebook
          </a>
        </p>
      </div>
    </section>
  </article>
</footer>
