@mixin sans-font() {
  font-family: Arial, sans-serif;
  letter-spacing: 0.3px;
  word-spacing: 0.75px;
}

@mixin main-font() {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizelegibility;
  letter-spacing: 0;
  word-spacing: 0;
}

body {
  @include main-font();
}

img {
  width: 100%;
}
