@mixin border-bottom() {
  &:after {
    content: ' ';
    border-bottom: 1px solid rgba($brand-primary, 0.5);
    width: 45px;
    display: block;
  }
}
body > footer {
  background-color: rgba(0, 0, 0, 0.90);
  color: rgba(255, 255, 255, 0.95);
  width: 100%;
  article {
    @include sans-font();
    font-size: 80%;
    @include make-container();
    @include make-container-max-widths();
    section {
      @include make-row();
      padding-top: 2rem;
      padding-bottom: 2rem;
      > div {
        @include make-col-ready();
        @include make-col(12);
        @include media-breakpoint-up(md) {
          @include make-col(4);
        }

      }
    }
    strong {
      @include main-font();
      text-transform: uppercase;
      font-weight: 900;
    }
  }
  .logo {
    margin-left: -0.5rem;
    width: 180px;
  }
  & + footer {
    background-color: rgba(0, 0, 0, 0.95);
  }
  hr {
    border: 0;
    width: 100%;
    @include border-bottom();
  }
  h2 {
    @include main-font();
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 1.5rem;
    font-size: 200%;
  }
  a {
    &:hover {
      text-decoration: none;
      color: darken($brand-primary, 10);
    }
  }
}
