@mixin border-bottom() {
  &:after {
    content: ' ';
    border-bottom: 1px solid rgba($brand-primary, 0.5);
    width: 45px;
    display: block;
    margin-bottom: 1rem;
  }
}

body > main {
  margin-top: 4rem;
  margin-bottom: 4rem;
  @include make-container();
  @include make-container-max-widths();
  > div {
    @include make-row()
  }
  article, aside {
    @include make-col-ready();
    @include make-col(12);
  }
  article {
    margin-bottom: 4rem;
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
    h2 {
      @include main-font();
      text-transform: uppercase;
      font-weight: 900;
      @include border-bottom();
      &:after {
        margin-top: 1rem;
      }
    }
  }
  aside {
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include media-breakpoint-up(md) {
      @include make-col-offset(1);
      @include make-col(3);
    }
    footer {
      text-align: right;
    }
  }

  color: rgba(#000, 0.75);
  h1, h2 {
    font-weight: 300;
    small {
      font-weight: 900;
      text-transform: uppercase;
      color: darken($brand-primary, 10);
      font-size: 50%;
    }
  }
  h1 {
    font-size: 175%;
  }
  h2 {
    font-size: 150%;
  }
  header {
    @include border-bottom();
    img {
      margin-bottom: 1rem;
    }
    small {
      opacity: 0.75;
    }
  }
  a {
    color: darken($brand-primary, 10);
  }
}

body.article > main {
  article {
    @include media-breakpoint-up(md) {
      @include make-col(8);
    }
  }
}

body.author > main {
  article {
    @include media-breakpoint-up(md) {
      @include make-col(8);
      img {
        width: 50%;
      }
    }
  }
}
