// http://sharingbuttons.io/

.sharing {
  @include clearfix();
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.share {
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  display: block;
  width: auto;
  float: left;
  font-weight: 300;

  span {
    display: none;
    @include media-breakpoint-up(xl) {
      display: inline;
    }
  }

  strong {
    font-weight: 300;
    display: none;
    @include media-breakpoint-up(sm) {
      display: inline;
    }
  }

  &:hover, &:focus {
    text-decoration: none;
    color: #fff;
  }

  &[href^="https://twitter.com/"] {
    background-color: #55acee;
    &:hover {
      background-color: #2795e9
    }
  }

  &[href^="https://facebook.com/"] {
    background-color: #3b5998;
    &:hover {
      background-color: #2d4373
    }
  }

  &[href^="https://www.linkedin.com/"] {
    background-color: #0077b5;
    &:hover {
      background-color: #046293
    }
  }

  &[href^="https://www.xing.com/"] {
    background-color: #1a7576;
    &:hover {
      background-color: #114c4c
    }
  }

}


