<!doctype html>
<html lang="<%= config.lang %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= config.description %>">
  <meta name="version" content="<%= build.version %>-<%= build.time %>">
  <title><%= content.name %> &middot; <%= config.appName %></title>
  <base href="<%= config.baseHref %>">
  <link rel="stylesheet" href="./css/underline.min.css?v=<%= build.version %>-<%= build.time %>">
  <!-- Twitter card -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@<%= config.twitter %>"/>
  <meta name="twitter:title" content="<%= content.name %>"/>
  <meta name="twitter:description" content="<%= content.name %> schreibt für <%= config.appName %>"/>
  <meta name="twitter:image" content="<%= content.photo.file.url %>?w=1200&amp;h=600&amp;fit=thumb"/>
  <!-- Facebook OpenGraph Tags -->
  <meta property="og:url" content="<%= page.url %>"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="<%= content.name %>"/>
  <meta property="og:description" content="<%= content.name %> schreibt für <%= config.appName %>"/>
  <meta property="og:image" content="<%= content.photo.file.url %>?w=1200&amp;h=600&amp;fit=thumb"/>
</head>
<body class="author">
<%= includes['header'] %>
<main>
  <div>
    <article>
      <header>
        <img src="<%= content.photo.file.url %>?w=250&amp;h=250&amp;fit=thumb" alt="<%= content.name %>">
        <h1 role="heading">
          <%= content.name %>
        </h1>
      </header>
      <section>
        <%= content.description %>
      </section>
    </article>
    <%= includes['aside-workshops'] %>
  </div>
</main>
<%= includes['footer'] %>
<script type="text/javascript" src="js/underline.min.js"></script>
</body>
</html>
