<!doctype html>
<html lang="<%= config.lang %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= config.description %>">
  <meta name="version" content="<%= build.version %>-<%= build.time %>">
  <title><%= config.appName %></title>
  <base href="<%= config.baseHref %>">
  <link rel="stylesheet" href="./css/underline.min.css?v=<%= build.version %>-<%= build.time %>">
  <!-- Twitter card -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@<%= config.twitter %>"/>
  <meta name="twitter:title" content="<%= config.appName %>"/>
  <meta name="twitter:description" content="<%= config.description %>"/>
  <meta name="twitter:image" content="<%= config.twitterImage %>"/>
  <!-- Facebook OpenGraph Tags -->
  <meta property="og:url" content="<%= page.url %>"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="<%= config.appName %>"/>
  <meta property="og:description" content="<%= config.description %>"/>
  <meta property="og:image" content="<%= config.twitterImage %>"/>
</head>
<body>

<%= includes['header'] %>

<aside id="hero">
  <% if (collections.hero[0].hero) { %>
  <div class="bg" style="background-image: url('<%= collections.hero[0].hero.file.url %>?w=1200')">
  </div>
  <% } %>
  <div class="container">
    <article class="slider">
      <section class="slide">
        <div>
          <h1 role="heading">
            <% if (collections.hero[0].subtitle) { %>
            <small><%= collections.hero[0].subtitle %></small>
            <br><% } %>
            <%= collections.hero[0].title %>
          </h1>
          <a href="./<%= collections.hero[0].slug %>.html" class="btn btn-outline-primary">
            Lesen
          </a>
        </div>
      </section>
      <nav>
        <% collections.hero.map(({slug, title, subtitle}) => { %>
        <a href="./<%= slug %>.html">
          <% if (subtitle) { %>
          <small><%= subtitle %></small>
          <br><% } %>
          <%= title %>
        </a>
        <% }) %>
      </nav>
    </article>
  </div>
</aside>

<main>
  <div>
    <% content.posts.sort((a,b) => a.content.publicationDate < b.content.publicationDate).slice(0, 2).map(({content,
    page}) => { %>
    <article>
      <header>
        <% if (content.hero) { %>
        <a href="<%= page.url %>">
          <img src="<%= content.hero.file.url %>?w=300&amp;h=200&amp;fit=thumb"
               alt="<%= content.subtitle %>: <%= content.title %>">
        </a>
        <% } %>
        <h1 role="heading">
          <% if (content.subtitle) { %>
          <small><%= content.subtitle %></small>
          <br><% } %>
          <%= content.title %>
        </h1>
        <p>
          <small>
            <time datetime="<%= content.publicationDate %>"><%= shortDate(content.publicationDate) %></time>
            von <a href="./<%= content.author.slug %>.html"><%= content.author.name %></a>
          </small>
        </p>
      </header>
      <section>
        <%= content.abstract %>
      </section>
      <footer>
        <a href="<%= page.url %>">ganzen Artikel lesen &raquo;</a>
      </footer>
    </article>
    <% }) %>
    <%= includes['aside-workshops'] %>
  </div>
</main>

<%= includes['footer'] %>
<script type="text/javascript" src="js/underline.min.js"></script>
</body>
</html>
