<!doctype html>
<html lang="<%= data.lang %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= data.description %>">
  <meta name="version" content="<%= data.version %>-<%= data.buildTime %>">
  <title><%= data.appName %></title>
  <base href="<%= data.baseHref %>">
  <link rel="stylesheet" href="/css/styles.min.css?v=<%= data.version %>-<%= data.buildTime %>">
</head>
<body>
<%= includes['header'] %>
<script type="text/javascript" src="./js/main.min.js"></script>
</body>
</html>
